* {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #eee
        /* Agrega padding: 0; para evitar espacios adicionales */
}

p {
    color: #eee
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan cuando no hay suficiente espacio */
}

.column {
    flex: 1 0 100%;
    /* Ocupa todo el ancho disponible en una sola línea */
    padding: 10px;
}

.maxheight {
    height: 100vh;
    /* 100% de la altura de la ventana */
}

#cover {
    width: 100%;
    height: 100%;
    background-image: url('../images/backg_main.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    /* Permite el desplazamiento vertical si es necesario */
}

#cover * {
    text-shadow: 1px 1px 3px black;
}

.center-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    /* Opcional: Para centrar verticalmente en toda la altura de la pantalla */
    text-align: left;
    padding-left: 15%;
}

@media screen and (min-width: 600px) {
    .column {
        flex: 1 0 30%;
    }
}

@keyframes blink1 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    25% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    75% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes blink2 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    25% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    75% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes blink {
    0% {
        opacity: 0.5;
    }

    16.666% {
        opacity: 1;
    }

    33.333% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.scroll-indicator {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    width: 20px;
    height: 20px;
    background-color: white;
    margin-bottom: 10px;
    opacity: 0.5;
    animation: blink 3s infinite;
}

.arrow1 {
    animation-delay: 0s;
}

.arrow2 {
    animation-delay: 0.5s;
}

.arrow3 {
    animation-delay: 1s;
}